
.class_limite_horas input {
	width: 10%;
}
.class_limite_horas::after {
	content: "horas";
	color :#9e9e9e;
}
#id_periodo_limite_container input {
	width: 10%;
}

#id_periodo_limite_container::after {
	content:"dias por usuário";
	color: #9e9e9e;
}
/*
.select-time-widget-wrapper {
	width:25% !important;
}

#id_periodo_limite_container {
	width: 25%;
} */
