img {
	image-orientation: from-image;
}

.side-nav .userView .circle {
	width: auto;
	height: 90px;
	max-width: inherit;
	text-align: inherit;
}

.side-nav .userView .email {
	display: none;
}


.class_limite_horas input {
	width: 10%;
}
.class_limite_horas::after {
	content: "horas";
	color :#9e9e9e;
}

#content {
	width:100%;
}
