img {
	image-orientation: from-image;
}

.side-nav .userView .circle {
	border-radius: 0px;
	width: auto;
	height: 90px;
	max-width: inherit;
}

.userView {
	height: 175px;
}

.topbar {
	background-color: #01579b;
}

.side-nav .userView .email {
	display: none;
}
