table {
	border-collapse: collapse; 
}
tr {
	border: none; 
}
th {
	border-right: solid 1px #808080;
	border-left: solid 1px #808080;
}
td {
 	border-right: solid 1px #808080; 
  	border-left: solid 1px #808080;
}
td span {
}