#index {
	overflow-x: hidden;
}

#unidade {
	float: left;
	margin-right: 1vw;
}

#espacosCard, #equipamentosCard, #servicosCard {
	background-color: white;
}

.divider {
	width: 100vw;
}

.collection-header, .collapsible-header {
	width: 100vw;
	cursor: default;
}

.collection-item {
	word-wrap: break-word;
}

.card .card-image img {
	width: auto;
}

.card-image {
	height: 100px;
}

.card-image i {
	display: block;
	margin: auto;
}

.form {
	background-color: white;
}

.btn {
	margin-top: 6px;
}

.material-icons {
	height: 1rem;
}

.errorlist li {
	margin-top: -20px;
	color: #F44336;
	font-size: 75%;
}

.month {
	text-align: center;
}