{% extends "material/frontend/base_lockscreen.html" %}
{% load i18n %}
{% block js %}{% endblock js %}

{% block title %}403 {% trans 'Access Forbidden' %} - Agendador{% endblock %}
{% block page_title %}Agendador{% endblock %}


{% block content %}
<div class="row">
    <div class="col s12">
        {% trans 'Access Forbidden' %}
    </div>
    <div class="col s12">
        {% if request.user.is_anonymous %}
        {% trans 'You are not logged in' %}
        {% else %}
            {% if exception %}
            <p>{{ exception }}</p>
            {% else %}
            {% blocktrans with user=request.user|default:"You" %}{{ user }} não tem permissão para acessar essa página.{% endblocktrans %}
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col s12">
    {% if exception %}
        <a href="{% url 'index' %}" class="btn btn-primary white-text">Retornar ao site</a>
    {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-primary white-text">{% trans 'Log in' %}</a>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block icon %}lock{% endblock %}