{% extends "base.html" %}
{% block content %}
{% load static %}
<!--
<link rel="stylesheet" type="text/css"
    href="{% static 'admin/css/forms.css' %} "/>
<link rel="stylesheet" type="text/css"
    href="{% static 'admin/css/base.css' %} "/>
<link rel="stylesheet" type="text/css"
    href="{% static 'admin/css/global.css' %}"/>
<link rel="stylesheet" type="text/css"
    href="{% static 'admin/css/widgets.css' %}"/>


<script type="text/javascript"
    src="/admin/jsi18n/"></script>
<script type="text/javascript"
    src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/jquery.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/actions.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}">
 </script>
 -->
 <!--
 <script type="text/javascript" src="/my_admin/jsi18n/"></script>
<script type="text/javascript" src="/media/admin/js/core.js"></script>

<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>
-->
<div align="left">

Usuário: {{usuario}} <br/>
<!-- 
dados: {{dados}} <br/>
-->
<a href="{% url 'django_cas_ng.views.logout' %}" >Sair</a><br>
<br/>
Reserva:<br/>
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" >Enviar</button>
	</form>
</div>
{% endblock %}
