<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
	<title>{% block title %}Agendador{% endblock %}</title>
	<style type="text/css">
	p {
    	border-style: solid;
    	border-width: 1px;
    	float: left;
    	width: 100px;
    	height: 100px;
    	text-align: center;
	}
	boby{
		text-align: center;
		
	}
	.current{
		background-color: Yellow;
		color: Blue;
		border-color: Blue;



	}
	a {
    color: blue;
    text-decoration: none;
    
}
	</style>
</head>
<body >
    <div id="sidebar">
    {% block sidebar %} {% endblock %} 
    </div>
    <div id="container">
        <div id="menu">
        <!-- MENU -->
                <h3>Opções</h3>
                
                <a href="{% url 'agenda.views.index' %}">Inicial</a> <br/>
                <a href="{% url 'agenda.views.main' %}">Agenda</a> <br/>
                <a href="{% url 'agenda.views.sobre' %}">Sobre</a><br/>
              	<br/><br/>
            {% block nav-global %}
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
</html>