{% extends "base.html" %}
{% block content %}
<b>{{espaco.nome}}</b> Data:  <br>
<a href="{% url 'agenda.views.month' espaco.id anovisualizacao mesvisualizacao %}" >Voltar ao mes</a><br>
<br/>
<a href="{% url 'agenda.views.addreserva' %}"> Adicionar reserva de espaço físico</a>  <br/>
<br/>

{% for reserva in reservas %}
	{{ reserva.horaInicio|date:"H:i"}} até {{ reserva.horaFim|date:"H:i" }} - {{reserva.evento}}| {{reserva.usuario}}/{{reserva.departamento}}  <br/>
{% empty %}
	<br> <b>Sem reservas para este dia </b>
{% endfor %}



{% endblock %}