{% extends "base.html" %}
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
{% block nav-global %}
{% endblock %}

{% block content %}

{{corpo}}

<br/><br/><br/><br/>

Verifique a disponibilidade de espaços físicos no menu ao lado em "Agenda".<br/>
<br/>
<a href="{% url 'agenda.views.addreserva' %}">Adicionar reserva em espaço físico </a>

<br><br>
{% for setor in setores %}
<div class="setor-ufsc">
	{{setor.sigla}}
	<img src="/{{setor.logo}}">
</div>

{% endfor %}

{% endblock %}