{% extends "base.html" %}
{% block content %}
<a href="{% url 'agenda.views.main' year|add:'-3' %}">&lt;&lt; Prev</a>
<a href="{% url 'agenda.views.main' year|add:'3' %}">Next &gt;&gt;</a>

    {% for year, months in years %}
        <div class="clear"></div>
        <h4>{{ year }}</h4>
        {% for month in months %}
            <div class=
            {% if month.current %}"current"{% endif %}
            {% if not month.current %}"month"{% endif %} >
                {% if month.entry %}<b>{% endif %}
                <p><a href="{% url 'agenda.views.month' year month.n %}">{{ month.name }}</a></p>
                {% if month.entry %}</b>{% endif %}
            </div>

            {% if month.n == 6 %}<br />{% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
