{% extends "base.html" %}
{% block content %}
<div  align="center" >

<a href= "{% url 'agenda.views.month' espaco.id year month "prev" %}"> < < Anterior</a> 
| {{ mname }} {{ year }}  - {{ espaco.nome }}  | 
<a href= "{% url 'agenda.views.month' espaco.id year month "next" %}">Proximo > > </a>
<br/><br/>


    <table align="center" border="0">

    <tr >
        <td class="day-titulo">Segunda</td>
        <td class="day-titulo">Terça</td>
        <td class="day-titulo">Quarta</td>
        <td class="day-titulo">Quinta</td>
        <td class="day-titulo">Sexta</td>
        <td class="day-titulo">Sabado</td>
        <td class="day-titulo">Domingo</td>
    </tr>

    {% for week in month_days %}
        <tr>
        {% for day, entries, current in week %}

            <!-- TD style: empty | day | current; onClick handler and highlight  -->
            <td class= {% if day == 0 %}"empty"{% endif %}
            {% if day != 0 and not current %}"day"{% endif %}
            {% if day != 0 and current %}"current"{% endif %}
            {% if day != 0 %}
                onClick="parent.location='{% url 'agenda.views.dia' espaco.id year month day %}'"
                onMouseOver="this.bgColor='#eeeeee';"
                onMouseOut="this.bgColor='white';"
            {% endif %} >

            <!-- Day number and entry snippets -->
            {% if day != 0 %}
                {{ day }} <p class="txt-reserva-mes">
                {% for entry in entries %}
                    {{ entry.horaInicio|date:"H:i" }} até {{ entry.horaFim|date:"H:i" }} {{ entry.tipoEvento}}/{{ entry.departamento}}<br/>
                {% endfor %}
                </p>
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <div class="clear"></div>
</div>

{% endblock %}