{% extends 'material/frontend/base_module.html' %}
{% load i18n material_frontend %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel='shortcut icon' type='image/x-icon' href='{% static "agenda/img/favico.ico" %}' />
{% endblock %}
{% block js %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'agenda/fullcalendar/fullcalendar.css' %}" />
    <script src="{% static 'agenda/fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'agenda/fullcalendar/fullcalendar.js' %}"></script>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'agenda/css/base.css' %}" />

{% endblock %}


<!-- bloco sidenav_items sobrescrito do arquivo /material/frontend/templates/material/frontend/base.html -->


{% block sidenav_items %}

    <li><a href="{% url 'index' %}">Site Principal<i class="material-icons">home</i></a></li>
    <li><a href="{% url 'faq' %}">FAQ/Instruções<i class="material-icons">help</i></a></li>
    <li><a href="{% url 'sobre' %}">Sobre<i class="material-icons">info</i></a></li>
    <li><a href="{% url 'estatisticas' %}">Estatisticas<i class="material-icons">assessment</i></a></li>
    {% if request.user.is_anonymous %}
    <li><a href="{% url 'login_normal' %}">Login<i class="material-icons">exit_to_app</i></a></li>
    <!--<li><a href="{% url 'register_normal' %}">Registrar<i class="material-icons">exit_to_app</i></a></li> -->
    {% else %}
    <li><a href="{% url 'logout' %}">Logout<i class="material-icons">exit_to_app</i></a></li>
    {% endif %}
    {% for module in modules %}

        {% if module.verbose_name == 'Administração' %}
            <li {% if forloop.last %}class="last"{% endif %}>
                <a href="{{ module.index_url }}" class="" data-turbolinks="false">{{ module.verbose_name }}{{ module.icon|safe }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endblock sidenav_items %}
