<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>
            <p>
                <text>Olá, {{responsable}},</text>
            </p>
                <text>{{user}} fez um pedido de reserva em {{reservable}}, para o dia {{date}} {{recurrent}}, das {{beginTime}} às {{endTime}}. Use o link abaixo para analisar o pedido.</text>
                <text>{{link}}</text>
        </p>
        <p>
            <p>
                -------
            </p>
            <p>
                E-mail automático, por favor não responda.
            </p>
        </p>
    </body>
</html>
