{% extends "base.html" %}

{% block nav-global %}
{% endblock %}
{% block title %} Agendador - {{grupo.sigla}}{% endblock %}

{% block extracss %}
    {% load static %}

{% endblock %}


{% block content %}

<div class="card-panel">


    <div class="card">
        <link href="{% static 'agenda/css/agenda.css' %}"  rel="stylesheet">
        <span class="card-title black-text"> Setor: {{grupo}} </span>
    </div>

    {% if setores %}
    <div class="card">
        <span class="card-title black-text">Sub setores</span>
        <div class="row">
            {% for setor in setores %}
            <div class="app-item col s6 m6 l4">
                <a href="{% url 'Reservas-UFSC' setor.sigla %}">
                <img width="100" height="100" src="/media/{{setor.logo}}"></a>
                <h6 style="truncate word-wrap: break-word;"> {{setor.sigla}} </h6>
            </div>
            {% endfor %}
            
        </div>
    </div>
    {% endif %}

<div class="card" id="espacosFisicos" >
    <div class="card-title">Espaços Físicos do {{grupo.sigla}}:</div>
    {% if espacosfisicos %}

    <div class="row">
        {% for year, months in years %}
            <div align="center" class="ano"  ><br/>{{ year }}</div>
            {% for month in months %}
                <div class="">
                <div class=
                {% if month.current %}"mes-current"{% endif %}
                {% if not month.current %}"month"{% endif %} >

                    {% if month.entry %}<b>{% endif %}
                    {{ month.name }}<br>
                    {% if month.entry %}</b>{% endif %}
                        {% for espaco in espacosfisicos %}
                        <a href="{% url 'mes' espaco.id year month.n %}">{{espaco.nome}}</a><br>
                        {% endfor %}
                </div>
                </div>
                {% if month.n == 6 %}{% endif %}
            {% endfor %}
        {% endfor %}

    </div>
    {% endif %}
    </div>
<div class="card">
    TESTES
</div>

<div id="equipamentos" class="card">
    <span class="card-title" >Equipamentos:</span>
    {% if equipamentos %}
    <div>
        {% for year, months in years %}
            <div align="center" class="ano"" ><br/>{{ year }}</div>
            {% for month in months %}
                <div class=
                {% if month.current %}"mes-current"{% endif %}
                {% if not month.current %}"month"{% endif %} >

                    {% if month.entry %}<b>{% endif %}
                    {{ month.name }}<br>
                    {% if month.entry %}</b>{% endif %}
                        {% for equipamento in equipamentos %}
                        <a href="{% url 'mes' equipamento.id year month.n %}">{{equipamento.nome}}</a><br>
                        {% endfor %}
                </div>
                {% if month.n == 6 %}{% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    {% else %}
    Sem equipamentos neste setor.
    {% endif %}
</div>

</div>
</div>


{% endblock %}