{% extends "agenda/base_module.html" %}
{% load i18n material_frontend %}
{% load static %}
{% block title %}{{ locavel.nome }}{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'agenda/css/locavel.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'agenda/css/topbar.css' %}" />
{% endblock %}
{% block js %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    <script src="{% static 'material/js/materialize.js' %}"></script>
{% endblock %}
{% block page_title %}
    {{ locavel.nome }}
{% endblock %}
{% block userphoto %}
{% if locavel.fotoLink %}
<a href="#"><img class="circle" src="{{ locavel.fotoLink }}"></a>
{% elif tipo == 'f' %}
<a href="#"><i class="circle material-icons medium">location_on</i></a>
{% elif tipo == 'e' %}
<a href="#"><i class="circle material-icons medium">power</i></a>
{% endif %}
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col s12'>
        <div class='card'>
            <div class='card-content'>
                <div id='locavel'>
                    {% if locavel.fotoLink %}
                    <div class='container image'>
                        <img src="{{ locavel.fotoLink }}">
                    </div>
                    {% endif %}
                    <div class='flow-text' id='info'>
                        <div class='unidade'><strong>Unidade: </strong>{{ locavel.unidade }}.</div>
                        <div class='responsaveis'><strong>Responsáveis: </strong>{{ responsaveis|join:", " }}.</div>
                        <div class='localizacao'><strong>Localização: </strong>{{ locavel.localizacao }}.</div>
                        <div class='descricao'><strong>Descrição: </strong>{{ locavel.descricao }}.</div>
                        <div class='grupo'><strong>Grupo: </strong>
                            {% if grupo %}
                                {{ grupo }}.
                            {% else %}
                                Não pertence a um grupo específico.
                            {% endif %}
                        </div>
                        <div class='bloqueado'><strong>Bloqueado: </strong>
                            {% if locavel.bloqueado %}
                                Sim.
                            {% else %}
                                Não.
                            {% endif %}
                        </div>
                        {% for key, info in specific.items %}
                        <div class='{{ key }}'><strong>{{ key|capfirst }}: </strong>{{ info }}.</div>
                        {% endfor %}
                    </div>
                    {% if ret %}
                    <div class='return'>
                        <a href="{{ ret }}" class='flow-text'>Retornar</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}