{% extends "agenda/base_module.html" %}
{% load i18n material_frontend %}
{% load static %}
{% block title %}Login{% endblock %}
{% block js %}
    <link rel='stylesheet' href="{% static 'agenda/css/login_register_pages.css' %}" />
    <script src="{% static 'material/js/jquery.js' %}"></script>
    <script src="{% static 'material/js/materialize.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
    $('.modal').modal();
  });
     
    </script>
{% endblock %}



{% block page_title %}
    <strong>Login</strong>
{% endblock %}


{% block content %}
<div id="content" class="row">
    
    <div class="col l6 m6 s6">
        <div class="card medium center-align">
            <div class="card-content" >
                <div class="card-title" >
                    Acesso via IdUFSC:
                </div>
                <p>
                    <img width="80" src='{% static "agenda/img/logoufsc.png" %}'/>

               </p>
               <p> - </p>
                <p>
                    <a  class="waves-effect waves-light btn-large" href='{%url "cas_ng_login"%}'>Acessar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col l6 m6 s6">
        <div class="card medium center-align">
            <div class="card-content">
                <div class="card-title">
                     Acesso via e-mail e senha do sistema de reservas:
                </div>
                <p><a class="waves-effect waves-light btn modal-trigger" href="#modal1">Acessar</a></p>
            </div>
        </div>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
                <h4>Login:</h4>
                <form id="login-form" method="post">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="email">e-mail:</label></td>
                        <td><input id="email" name="email"
                                   type="email" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Senha:</label></td>
                        <td><input id="id_password" name="password"
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% if form.errors %}
                    <p class="label label-danger center-align red">
                        Usuário ou senha incorretos
                    </p>
                {% endif %}

                <input type="submit" value="Login"
                        class="btn btn-primary grey lighten-5 black-text pull-right" />
                <a href='{%url "reset_password_request"%}' class="btn tooltipped btn-primary grey lighten-5 black-text pull-right"
                    data-position="bottom" data-tooltip="Clique aqui caso você esqueceu sua senha ou sempre realizou logins pela ufsc">(Re)definir senha</a>
            </form>
        </div>
    </div>

    <div class="col s12 m12 l12">
        <div class="card-panel">
            <span class="center-align">
                <p>Você pode acessar o sistema de duas formas,</p>
                <p>utilizando o IdUFSC </p>
                <p> ou caso você já tenha acessado com IdUFSC seu usuário será seu</p>
                <p>email cadastrado na UFSC e você irá redefinir uma senha para o sistema de reservas.</p>
            </span>
        </div>
    </div>
    
</div>

{% endblock content %}
