{% extends "agenda/base_module.html" %}
{% load i18n material_frontend %}
{% load static %}
{% block title %}Agendador - Sobre{% endblock %}
{% block js %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    <script src="{% static 'material/js/materialize.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav();
            $('.modal').modal();
        });
    </script>
{% endblock %}


{% block content %}
<div id='content' class='row'>
  <div class='col s12'>
    <div class="card">
      <div class="card-content">
      <h5> Desculpe, no momento estamos em manutenção, devido a problemas com a autenticação UFSC.<br>

      </h5>
      <br>
      

      </div>
    </div>
  </div>
</div>

{% endblock %}

