{% extends "base.html" %}
{% block title %}{{ espaco.nome }} - {{ mname }}/{{ year }}{% endblock %}
{% load static %}
{% block page_title %} Resevas de {{ espaco.nome }} - {{ mname }}/{{ year }} {% endblock %}
{% block js %}
    {{ block.super }}

    <link rel='stylesheet' href="{% static 'agenda/fullcalendar/fullcalendar.css' %}" />
    <script src="{% static 'agenda/fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'agenda/fullcalendar/fullcalendar.js' %}"></script>

    <script type="text/javascript">
    console.log("Inicio");
    //console.log($().jquery);
    //console.log(jQuery.jquery);
    //$.noConflict();
    // jQuery(document).ready(function() {
    // //page is now ready, initialize the calendar...
    //     jQuery('#calendar').fullCalendar({
    //         // put your options and callbacks here
    //     });

    // });
    </script>
    <script type="text/javascript">
    
jQuery(document).ready(function() {
   jQuery('#calendar').fullCalendar({
        monthNames:["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
        dayNamesShort:["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb"],

        events: [
        {% for week in month_days %}
            {% for day, entries, current in week %}
                {% if day != 0 %}
                        {% for entry in entries %}
                            {
                                title: "{{ entry.horaInicio|date:"H:i" }}- {{entry.usuario}} - {{ entry.horaFim|date:"H:i" }}",
                                start: "{{entry.data|date:"Y-m-d"}}"
                            },
                        {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        ],
        eventAfterAllRender: function() {
            $(".fc-day").each(function(index,value) {       
                if(value.className.indexOf("fc-other-month") === -1) {
                    $(value).append("<a href='http://ufsc.br'><i class=material-icons>add_circle</i></a>");
                    $(value).css('text-align', 'center');
                }
           });
        }

    });     
    setMonth();
});

function setMonth() {
    if({{month}}>9) {
        var date = $.fullCalendar.moment("{{year}}-{{month}}-01");
            $("#calendar").fullCalendar('gotoDate', date);
    } else {
        var date = $.fullCalendar.moment("{{year}}-0{{month}}-01");
            $("#calendar").fullCalendar('gotoDate', date);
        }
}
</script>
{% endblock %}

<div class="row">
<div class="container">
{% block content %}

<div id="calendar"> </div>

    <div id="agenda">
    
    <a class="btn right" href="{%url 'mese' espaco.id year month 'next' %}">proximo</a>
    <a class="btn right" href="{%url 'mese' espaco.id year month 'prev' %}">anterior</a>

    
    
    </div>
    
      </div>
    </div>




<!-- tirar esse script desse arquivo depois para deixar mais bem organizado. -->

<script>
// o mês da de pegar pelo django e o dia da de pegar pelo span do fc-number do componente.
//$(".modal").modal();
// ou colocar direto na tag ou chamar com o ajax o form de adicionar reservas.



</script>

<script type="text/javascript">
    console.log("FIM");
    console.log(jQuery.jquery);
</script>

{% endblock %}
