{% extends "base.html" %}
{% block title %}{{ espaco.nome }} - {{ mname }}/{{ year }}{% endblock %}
<div class="row">
<div class="container">
{% block content %}

<link rel='stylesheet' href="/static/agenda/fullCalendar/fullcalendar.css" />
<script src="/static/agenda/fullCalendar/lib/moment.min.js"></script>
<script src="/static/agenda/fullCalendar/fullcalendar.js"></script>
<script src="/static/agenda/fullCalendar/locale/pt-br.js"></script>
<!--
<div class="row">
<div class="col s12 m12 l12">
            <div class="cad col s12 teal lighten-2"><span class="flow-text">Estou sempre ocupando a largura total(col s12)</span></div>
            <div class="card col s12 m6 teal lighten-2"><span class="flow-text">Estou sempre ocupando a largura total em dispositivos móveis (col s12 m6)</span></div>
</div>
</div>
-->
    
    <div id="calendar">
            <button id="ppA" value="04">Antes</button>

    </div>
    
      <!--Import jQuery before materialize.js 
      <table class="col s12 m6 table bordered"> 
        <thead>
          <tr>
            <th class="center-align">Segunda</th>
            <th class="center-align">Terça</th>
            <th class="center-align">Quarta</th>
            <th class="center-align">Quinta</th>
            <th class="center-align">Sexta</th>
            <th class="center-align">Sábado</th>
            <th class="center-align">Domingo</th>
          </tr>
        </thead>
        <tbody>
            {% for week in month_days %}
                    <tr>
                        {% for day, entries, current in week %}
                            {% if day == 0 %}
                                <td></td>
                            {% else %}
                                <td class="left-align"><span>{{ day }}</span>
                                <ul>
                                {% for entry in entries %}
                                       <li>{{ entry.horaInicio|date:"H:i" }} até {{ entry.horaFim|date:"H:i" }} {{ entry.tipoEvento}}/{{ entry.departamento}}</li> 
                                {% endfor %}            
                                </ul>
                                    </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
            {% endfor %}
        </tbody>

      </table>-->
      </div>
      </div>
    </div>

    
<!--
<script>

$(document).ready(function() {
    drawCallendar();
});

function drawCallendar() {
    for (var i = 0; i < 5; i++) {
        $("#corpoCalendario").append("<tr id='semana"+i+"'></tr>");
        for (var j = 0; j < 7; j++) {
            $("#semana"+i).append("<td id='dia"+j+"'></td>");
        }
    }
}

</script>
-->

<script type="text/javascript">
	
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $("#ppA").click(function() {
        $('#calendar').fullCalendar('gotoDate', moment('2017-04-01'));
    })
    $('#calendar').fullCalendar({
        // put your options and callbacks here
        locale: 'pt-br',
    })

});

</script>


{% endblock %}