{% extends "agenda/base_module.html" %}
{% load i18n material_frontend %}
{% load static %}
{% block title %}Agendador - Registrar{% endblock %}
{% block js %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    <script src="{% static 'material/js/materialize.js' %}"></script>
{% endblock %}



{% block page_title %}
    <strong> Recuperar/Criar Senha </strong>
{% endblock %}

{% block content %}
<div id="content" class="row">
    <div class="card">
        <div class="card-content">
            <span {% if 'fail' == status %} style="color:red;" {% else %} style="color:green;" {% endif %} >{{message}}</span>
              <form style="" method="post">
                    {% csrf_token %}
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" class="form-control">
                    <button class="btn btn-primary grey lighten-5 black-text" type="submit">Solicitar</button>
              </form>
          </div>
      </div>
</div>
{% endblock %}
