{% extends "agenda/base_module.html" %}
{% load i18n material_frontend %}
{% load static %}
{% block title %}Agendador - Registrar{% endblock %}
{% block js %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    <script src="{% static 'material/js/materialize.js' %}"></script>
{% endblock %}

{% block content %}
<div id="content" class="row">
    <div class="card">
        <h2> Redefinir senha </h2>
        <div class="card-content">
        {{message}}
          <form method="post">
              {% csrf_token %}
                <label for="senha1">Nova Senha</label>
                <input id="senha1" name="senha1" type="password" class="form-control">
                <label for="senha1">Repita a senha</label>
                <input id="senha2" name="senha2" type="password" class="form-control">
                <button type="submit">Redefinir</button>
          </form>
      </div>
  </div>
</div>
{% endblock %}
