{% extends "agenda/base_module.html" %}
{% load i18n material_frontend %}
{% load static %}
{% block title %}Agendador - Registrar{% endblock %}
{% block js %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    <script src="{% static 'material/js/materialize.js' %}"></script>
{% endblock %}

{% block content %}
<div id="content" class="row">
    <div class="card">
        {% if 'Ok' == status %}
            <h2> Redefinir senha </h2>
            <div class="card-content">
            {{message}}
              <form method="post">
                  {% csrf_token %}
                    <span style="color:red">{{ errorMsg }}</span>
                    <label for="senha1">Nova Senha</label>
                    <input id="senha1" name="senha1" type="password" class="form-control">
                    <label for="senha1">Repita a senha</label>
                    <input id="senha2" name="senha2" type="password" class="form-control">
                    <button class="btn btn-primary grey lighten-5 black-text" type="submit">Redefinir</button>
              </form>
            </div>
        {% elif 'Bad Token' == status %}
            <div class="card-content">
                <h2> Token inválido ou já utilizado. </h2>
            </div>
        {% else %}
            <div class="card-content">
                <h2> Senha redefinida com sucesso. </h2>
            </div>
        {%endif%}
  </div>
</div>
{% endblock %}
