{% extends "agenda/base_module.html" %}
{% load i18n material_frontend %}
{% load static %}
{% block title %}Agendador - Sobre{% endblock %}
{% block js %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    <script src="{% static 'material/js/materialize.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav();
            $('.modal').modal();
        });
    </script>
{% endblock %}


{% block content %}
<div id='content' class='row'>
  <div class='col s12'>
    <div class="card">
      <div class="card-content">
      <h5> Agendador de espaço físico e equipamentos UFSC</h5>
      <br>
      Tem como objetivo tornar prática a reserva de espaços físicos e equipamentos para a UFSC.<br/>
      <br/>
      <a href="http://ramon.blog.br"> Ramon Dutra Miranda</a> - Desenvolvedor de Software <br>
      <a  href="http://lattes.cnpq.br/8537326587889841" > Gustavo Borges França </a> - Desenvolvedor de Software <br>
      <br>
      Software web desenvolvido sobre as plataformas:<br>
      + Python <br>
      + Django <br>
      + MySQL <br>
      + Django_cas_ng <br>
      + Django Material <br>
      <br>
      Código fonte:<br/>
      <a href="https://github.com/ramonrdm/agendador">https://github.com/ramonrdm/agendador</a><br/>
      <br>
      Apoio: <br/>
      Direção do Centro de Ciências da Saúde - UFSC<br>
      Direção do Centro de Comunicação e Expressão - UFSC <br>
      Letras Libras - CCE - UFSC <br>
      Central de Análises - QMC - UFSC<br>

      <br/>


      <br>

      </div>
    </div>
  </div>
</div>

{% endblock %}
