{% extends 'admin/base.html' %}
{% load static %}
{% load i18n %}
{% block head %}
    {{ block.super }}
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'agenda/img/favico.ico' %}" />
{% endblock %}
{% block userphoto %}
<a href="#"><img class="circle" src="{% static 'agenda/img/logoufsc2.png' %}"></a>
{% endblock %}

{% block userlinks %}
{% if user.is_active and user.is_staff %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
    <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
    {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
    <li><a href="{% url 'admin:logout' %}" data-turbolinks="false"><i class="material-icons right">exit_to_app</i>{% trans "Log out" %}</a></li>
    {% else %}
    <li><a href="{% url 'admin:login' %}" data-turbolinks="false"><i class="material-icons right">lock_open</i>{% trans "Log in" %}</a></li>
    {% endif %}
{% endblock %}