{% extends 'admin/base.html' %}
{% load static %}
{% load i18n %}
{% block extrahead %}
    <script src="{% static 'agenda/js/jquery.js' %}"></script>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'agenda/img/favico.ico' %}" />
    <script src="{% static 'agenda/js/materialize.js' %}"></script>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'agenda/css/base.css' %}" />
{% endblock %}


{% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}">{% trans 'View site' %}</a> /
    {% endif %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block sidenav_items %}
{{ block.super }}
<li class="no-padding"><a class="collapsible-header" href="{% url 'logout' %}">Logout<i class="material-icons">exit_to_app</i></a></li>
{% endblock sidenav_items %}
